datafactory/pipeline/CopyCodersJobWeekTimesheets.json
{
	"name": "CopyCodersJobWeekTimesheets",
	"properties": {
		"activities": [
			{
				"name": "ACDS2Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RefreshToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "JobWeekTimesheets?$filter=JobCode eq '@'08016031''"
					},
					{
						"name": "Destination",
						"value": "wpaaruptimesheets"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Ocp-Apim-Subscription-Key": "d6868fbeb77747dd93d7dd6522ee8663",
							"Authorization": {
								"value": "@concat('Bearer ', activity('RefreshToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTablePartitionKeyName": "WeekEndingDate",
						"azureTableRowKeyName": "Adhguid",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "WeekEndingDate"
								},
								"sink": {
									"name": "WeekEndingDate"
								}
							},
							{
								"source": {
									"path": "Adhguid"
								},
								"sink": {
									"name": "Adhguid"
								}
							},
							{
								"source": {
									"path": "StaffUpn"
								},
								"sink": {
									"name": "StaffUpn"
								}
							},
							{
								"source": {
									"path": "JobRef"
								},
								"sink": {
									"name": "JobRef"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "JobWeekTimeSheets",
						"type": "DatasetReference",
						"parameters": {
							"JobCode": "08016031"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "wpaaruptimesheets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "RefreshToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/4ae48b41-0137-4599-8661-fc641fe77bea/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "client_id=993cca80-d223-4452-9942-bdcdc0009a37\n&refresh_token=AQABAAAAAAAGV_bv21oQQ4ROqh0_1-tApoqPuHwUuuxSdnJ0eTYWkx_DUgVZVCTQZMu6XfqbekXhCc4H5x4RJ1PZlvnMK2CfH7uxVLmQNMYdNHhE6Cgg5h0Fn9m-lxGyPYgJXL9f_-1HKdLqK_QsJf2IGN0X-NGpbLEmbmKZsBzs6E5Ew8O019KjtKm7s2ZXlVVAOoLca57d9g48DYBrgQpf_xfQfwoh6MndQ2oE9QyMAYjNpvjrwW7mfkGAmZFS9UzdDMzlboDeYK4vBJcCgle0Wmq3_7wrNhGChDTNqG4jxwqsYKerR_Vt35iPCYCkHZ_5-lcl4iMsPHmvDIR7mG9LlQeIgrVG4a6wY7Ou47oc50Xnb9IO6PN2F5hSPIsj_c5sLlkvBPg9yCewFfLsgzuspgjh0ZZehWmZ2qXPUXtvhIDSFs1rSZj-f65ZEJtNIZQIFb-LbGjmbFzD_6O1KDNL8PiXAUV6n9Qi2ol4oxkFjj8v4n0jSgAIwEMHpKzP9zLgynWaXzpURsjI8M6Li07PB3JH1JSfywLCx0RRiYyzzyICFU7GxnRC_xf6jJgsNeyukv6cteH3aof4cM2QXaX5WNHwHxmv2ALbNkbMoLLhKY5EJCdkCOv3jGzZbauS9esCIyPUyRsdUuBOsb2lqn8WWEcRiF9BgrK6lWef0xzJU67akYz2ezHk17VS-NRjDl41BmTr983p3IUYdQlFgy2ofYbof7bwYpnpm74Z44jMCBPjtKKVwAwPY34MlmipcBjsPDHJwNiEXWi1ke81pDAZpPhJAaH5JBakUSGPI3aHKp5TCIRDWi25l1jYuhM_mkVWVSAoP_crnqH8mVULnw9I0DWgL4TVU2mdwtSFmaL69LtHadDIA4v9CsjVLR9-FJ1MVhzeiCC6roFDoVgV8DZKkDHZzeVPACIz5ljFS6uJFOp785zCvQbKc8ssyfLrk-4QfcVLIExI8-IAjtbla5J5lteGi35EVEaNB2jOwNn3nOKZOPH9G5X--qlTbY-m5hZXuvoZfp7pUXGO_XSAMN9beSh5hE45Uv0T7UL0HjamGufUQTPBy0j-RhtzLPagg4G0veh2d_MnEXgfeQM9MYd-lgN9fCSPM7MoPmRtDURrIHAPwsYrh-gOQ-puGSB0LP6JKHoCAQogAA\n&grant_type=refresh_token\n&client_secret=.25KY52-_eYIp6_9F_8V8lVLgD_N2uMQPi"
				}
			}
		],
		"annotations": []
	}
}