arup-tnrdev-datafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "arup-tnrdev-datafactory"
		},
		"ArupCorporateDataService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adsprapiman-aue.azure-api.net/cds/odata/"
		},
		"ArupCorporateDataService_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "993cca80-d223-4452-9942-bdcdc0009a37"
		},
		"wpaaruptimesheets_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'wpaaruptimesheets'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyCodersJobWeekTimesheets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACDS2Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RefreshToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "JobWeekTimesheets?$filter=JobCode eq '@'08016031''"
							},
							{
								"name": "Destination",
								"value": "wpaaruptimesheets"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Ocp-Apim-Subscription-Key": "d6868fbeb77747dd93d7dd6522ee8663"
								}
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"writeBatchSize": 10000
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "JobWeekTimeSheets",
								"type": "DatasetReference",
								"parameters": {
									"JobCode": "08016031"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "wpaaruptimesheets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "RefreshToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/4ae48b41-0137-4599-8661-fc641fe77bea/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-Type": " application/x-www-form-urlencoded"
							},
							"body": "client_id=993cca80-d223-4452-9942-bdcdc0009a37\n&refresh_token=AQABAAAAAAAGV_bv21oQQ4ROqh0_1-tApoqPuHwUuuxSdnJ0eTYWkx_DUgVZVCTQZMu6XfqbekXhCc4H5x4RJ1PZlvnMK2CfH7uxVLmQNMYdNHhE6Cgg5h0Fn9m-lxGyPYgJXL9f_-1HKdLqK_QsJf2IGN0X-NGpbLEmbmKZsBzs6E5Ew8O019KjtKm7s2ZXlVVAOoLca57d9g48DYBrgQpf_xfQfwoh6MndQ2oE9QyMAYjNpvjrwW7mfkGAmZFS9UzdDMzlboDeYK4vBJcCgle0Wmq3_7wrNhGChDTNqG4jxwqsYKerR_Vt35iPCYCkHZ_5-lcl4iMsPHmvDIR7mG9LlQeIgrVG4a6wY7Ou47oc50Xnb9IO6PN2F5hSPIsj_c5sLlkvBPg9yCewFfLsgzuspgjh0ZZehWmZ2qXPUXtvhIDSFs1rSZj-f65ZEJtNIZQIFb-LbGjmbFzD_6O1KDNL8PiXAUV6n9Qi2ol4oxkFjj8v4n0jSgAIwEMHpKzP9zLgynWaXzpURsjI8M6Li07PB3JH1JSfywLCx0RRiYyzzyICFU7GxnRC_xf6jJgsNeyukv6cteH3aof4cM2QXaX5WNHwHxmv2ALbNkbMoLLhKY5EJCdkCOv3jGzZbauS9esCIyPUyRsdUuBOsb2lqn8WWEcRiF9BgrK6lWef0xzJU67akYz2ezHk17VS-NRjDl41BmTr983p3IUYdQlFgy2ofYbof7bwYpnpm74Z44jMCBPjtKKVwAwPY34MlmipcBjsPDHJwNiEXWi1ke81pDAZpPhJAaH5JBakUSGPI3aHKp5TCIRDWi25l1jYuhM_mkVWVSAoP_crnqH8mVULnw9I0DWgL4TVU2mdwtSFmaL69LtHadDIA4v9CsjVLR9-FJ1MVhzeiCC6roFDoVgV8DZKkDHZzeVPACIz5ljFS6uJFOp785zCvQbKc8ssyfLrk-4QfcVLIExI8-IAjtbla5J5lteGi35EVEaNB2jOwNn3nOKZOPH9G5X--qlTbY-m5hZXuvoZfp7pUXGO_XSAMN9beSh5hE45Uv0T7UL0HjamGufUQTPBy0j-RhtzLPagg4G0veh2d_MnEXgfeQM9MYd-lgN9fCSPM7MoPmRtDURrIHAPwsYrh-gOQ-puGSB0LP6JKHoCAQogAA\n&grant_type=refresh_token\n&client_secret=.25KY52-_eYIp6_9F_8V8lVLgD_N2uMQPi"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JobWeekTimeSheets')]",
				"[concat(variables('factoryId'), '/datasets/wpaaruptimesheets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JobWeekTimeSheets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ArupCorporateDataService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"JobCode": {
						"type": "string",
						"defaultValue": "08016031"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "JobWeekTimesheets?$filter=JobCode eq '@dataset().JobCode'",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ArupCorporateDataService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/wpaaruptimesheets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "wpaaruptimesheets",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"schema": [],
				"typeProperties": {
					"tableName": "wpaaruptimesheets"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/wpaaruptimesheets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArupCorporateDataService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ArupCorporateDataService_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('ArupCorporateDataService_properties_typeProperties_aadResourceId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/wpaaruptimesheets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"sasUri": "[parameters('wpaaruptimesheets_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CODERS_JobWeekTimesheets_DailyCheck')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyCodersJobWeekTimesheets",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-07-10T14:02:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyCodersJobWeekTimesheets')]"
			]
		}
	]
}